body {
    font-family: Arial, sans-serif;
    background: #fafafa;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background: #004b8d;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

#map {
    border: 2px solid #004b8d;
    border-radius: 10px;
    margin-top: 10px;
}
